a {
  text-decoration: none;
}

.mvh-100 {
  max-height: 100vh;
}

.scrollbar-track {
  background: transparent!important;
}

.scrollbar-thumb {
  background: $mt-dark!important;
}

.sticky {
  &-header {
    z-index: 1000;
  }
  &-filter {
    z-index: 999;
  }
}

.navbar-toggler {
  border: 0;
}

.search .form-control {
  border-color: #ffffff;
}

.user-link {
  position: relative;
  padding-left: 1.5rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;
    background: url("../img/user-icon.svg") no-repeat center center;
  }
}

.register-link {
  position: relative;
  padding-left: 1rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 1px;
    height: 15px;
    background: #ffffff;
  }
}

.filter-btn {
  position: relative;
  padding-left: 1.75rem;
  padding-right: 1.75rem;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 24px;
    height: 24px;
    background: url("../img/filter-icon.svg") no-repeat center center;
  }
}
