$primary: #A05F9A;
$light: #F2D7F7;

$btn-font-weight: 600;

$nav-link-color: rgb(0, 0, 0);
$nav-link-font-weight: 600;

/* Custom */
$bg-color-primary: #F2D7F7;
$bg-color-secondary: #F7ECF9;

$mt-colors: (
  "ultralight": lighten($light, 3%)
);
