$font-family-sans-serif:  Roboto, sans-serif, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-size-root: 14px;

$enable-negative-margins: true;

$primary: #A05F9A;

$btn-font-weight: 600;

$navbar-light-color: #000000;

$nav-link-font-weight: 600;

$navbar-toggler-padding-x: 0;
$navbar-toggler-padding-y: 0;
$navbar-toggler-focus-width: 0;
$navbar-light-toggler-icon-bg: url("../img/toggler-icon.svg");

$breadcrumb-active-color: $primary;
$breadcrumb-item-padding-x: 0.3rem;

$pagination-color: #000000;
$pagination-border-color: #ffffff;

/* Custom */
$mt-light: #F2D7F7;
$mt-dark: #624E60;
$mt-colors: (
  "mt-light": $mt-light,
  "mt-ultralight": lighten($mt-light, 3%),
  "mt-dark": $mt-dark,
);
